*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

ul, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

li, dt, dd {
  margin: 0;
}

.app {
  background: url('./dark-geometric.png') repeat;
  font-family: Asul, serif;
  color: #EEEEEE;
}

.spell-list {
  width: 40rem;
  padding: 2rem 0;
  margin: 0 auto;
}
